* {
    background-color: aliceblue;
    font-family: Apple Chancery;
}

body {
    width: 96vw;
}

h1 {
    text-align: center;
    font-size: clamp(36px, 8vw, 88px);
    margin: 0 auto;
    width: fit-content;
}

h2 {
    text-align: center;
    font-size: clamp(20px, 4vw, 72px);
    margin: 0 auto;
    width: fit-content;
}

p {
    font-size: clamp(12px, 1.5vw, 32px);
}

b {
  font-weight: 900;
  text-decoration: underline;
}

#intro {
    text-align: center;
}

#table-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 85%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 3px solid #000;
    text-align: left;
    vertical-align: top;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    font-size: clamp(16px, 2vw, 56px);
    line-height: 1.5;
}

th:first-child,
td:first-child {
  width: 40%;
  text-align: center;
}

th:last-child {
    text-align: center;
}

section {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 2vw;
    width: clamp(200px, 20vw, 1000px);
    height: clamp(200px, 20vw, 1000px);
}

.box > img {
    flex: 1 1 auto;
    margin: 0 auto;
    max-width: 100%;
    max-height: calc(100% - 2rem - 50px); 
    object-fit: contain;
    display: block;
}

h3 {
    flex: 0 0 auto;
    text-align: center;
    font-size: clamp(16px, 2vw, 56px);
    margin: 0 auto;
    max-width: 100%;
}
