* {
    background-color: aliceblue;
    font-family: sans-serif;
}

h1 {
    justify-self: center;
    size: 20 vw;
}

hr {
    height: auto;
}

h2 {
    justify-self: center;
    size: 10 vw;
}

section {
    display: grid;
    grid-row: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 8px;
    grid-template-rows: 118px 56px 14px 18px 15px 36px;
    height: auto;
    row-gap: 5px;
    padding: 0 16px 16px 16px;
    width: 178px;
}

img {
    height: auto;
    width: auto;
}

h3 {
    justify-self: center;
    size: 5 vw;
}