* {
    background-color: aliceblue;
}

h1 {
    justify-self: center;
    size: 20 vw;
}

hr {
    height: auto;
}

h2 {
    justify-self: center;
    size: 10 vw;
}

section {
    display: flex;
    grid-row: auto;
    justify-content: center;
}

img {
    height: auto;
    width: auto;
}

h3 {
    justify-self: center;
    size: 5 vw;
}