* {
    background-color: aliceblue;
    font-family: sans-serif;
}

body {
    width: 96vw;
}

h1 {
    text-align: center;
    font-size: clamp(36px, 8vw, 96px);
    margin: 0 auto;
    width: fit-content;
}

h2 {
    font-size: clamp(20px, 4vw, 72px);
}

h3 {
    font-size: clamp(16px, 2vw, 56px);
}

p {
    font-size: clamp(12px, 1.5vw, 32px);
}

li {
    font-size: clamp(12px, 1.5vw, 32px);
}

a {
    font-size: clamp(12px, 1.5vw, 32px);
}

video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#game-home {
    width: 100%;
    height: auto;
    object-fit: contain;
}
iframe {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

split {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
split > section {
    width: 50%;
}

split h2 {
    text-align: center;
}