* {
    background-color: aliceblue;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    width: 20vw;
    font-size: auto; 
}

#poster {
    align-self: center;
    width: 95vw;
    height: auto;
}

video {
    align-self: center;
    width: 95vw;
    height: auto;
}