* {
    background-color: aliceblue;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 8vw;
    margin: 0 auto;
    width: fit-content;
}

#poster {
    align-self: center;
    width: 100%;
    height: auto;
    object-fit: contain;
}

video {
    align-self: center;
    width: 100%;
    object-fit: contain;
}

#software-control-flow-diagram {
    width: 100%;
}

#hardware-control-flow-diagram {
    width: 100%;
}

#pcb {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#pcb > section {
    width: 50%;
}

#pcb > section:nth-child(5) {
    width: 100%;
}

#pcb >section > img {
    width: 100%;
}

#threeD-print {
    display: flex;
    width: 100%;
}

#threeD-print > img {
    width: 50%;
}

#laser-cut {
    display: flex;
    width: 100%;
}

#laser-cut > img {
    width: 50%;
}